<nav class="navbar navbar-default" style="margin-top: 10px;">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to 'Флэшкарточкер', root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Все карточки</a></li>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </div>
  </div>
</nav>