<div class="modal fade" id="modal_invite_friends" tabindex="-1" role="dialog"
     aria-labelledby="modal_invite_friends" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Пригласить друзей</h2>
      </div>

      <div class="modal-body">
        <div id="modal_notice_block_invite_friends" class="row">
        </div>

        <%= form_tag main_app.invite_friends_path, method: :post, remote: true do %>
          <div class="form-group">
            <%= label_tag '', 'Список адресов электронной почты:',
                          class: 'control-label' %>
            <div id="modal_invite_friends_emails">
            <%= text_area_tag 'invite_friends[emails]', nil, class: 'form-control', required: true,
                              placeholder: 'Введите адреса электронной почты через запятую.' %>
            </div>
          </div>
          <%= submit_tag 'Пригласить', class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
                id="close_modal_invite_friends">Закрыть</button>
      </div>
    </div>
  </div>
</div>
