<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p id="notice">Вы изучили все доступные карточки. Ожидайте наступления даты пересмотра.</p>
</div>